## Data Wrangling

In the analysis of the telecom dataset, the objective is to conduct a comprehensive User Overview analysis. The following sub-tasks serve as guidance throughout the analysis:
    <ul>
    <li>Handling Missing Values</li>
    <li>Removing Duplicates:</li>
    <li>Handling Outliers</li>
    <li>hh</li>
</ul>

In [3]:
# Load Libraries and Data
import pandas as pd
import numpy as np
import psycopg2
import seaborn as sb
from sqlalchemy  import create_engine,MetaData, Table

###  Load The data from Database

In [4]:
# Create connection with postgresql and read the dataset using pandas.
database_name = 'tellcom'
table_name= 'xdr_data'

connection_params = { 
                    "host": "localhost",
                     "user": "postgres",
                     "password": "postgres",
                     "port": "5432",
                     "database": database_name
                   }

engine = create_engine(f"postgresql+psycopg2://{connection_params['user']}:{connection_params['password']}@{connection_params['host']}:{connection_params['port']}/{connection_params['database']}")

# str or SQLAlchemy Selectable (select or text object)
sql_query = 'SELECT * FROM xdr_data'

df = pd.read_sql(sql_query, con= engine)

 ### Get an Overview of the Data

In [5]:
# read the xdr_data table into a Pandas DataFrame.
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [6]:
# exploring the dimension  of Data frame
df.shape

(150001, 55)

In [8]:
import sys
sys.path.append('/tenx_week_one/scripts/wrangling')

from scripts.wrangling import DataWrangler

# Create an instance of MyClass
obj = DataWrangler(df)

# Call the greet method
obj.handle_duplicate_data()

ModuleNotFoundError: No module named 'scripts'

In [9]:
import sys
sys.path.append('/tenx_week_one/scripts/wrangling')

from scripts.wrangling import DataWrangler

# Create an instance of MyClass
obj = DataWrangler(df)

# Call the greet method
obj.handle_duplicate_data()

ModuleNotFoundError: No module named 'scripts'

NameError: name 'DataAnalyzer' is not defined

In [10]:
# View the info of the datasets
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 149010 non-null  float64
 1   Start                                     150000 non-null  object
 2   Start ms                                  150000 non-null  float64
 3   End                                       150000 non-null  object
 4   End ms                                    150000 non-null  float64
 5   Dur. (ms)                                 150000 non-null  float64
 6   IMSI                                      149431 non-null  float64
 7   MSISDN/Number                             148935 non-null  float64
 8   IMEI                                      149429 non-null  float64
 9   Last Location Name                        148848 non-null  object
 10  Avg RTT DL (ms)                           122172 non-null  float64
 11  Avg RTT UL (ms)                           122189 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 16  DL TP < 50 Kbps (%)                       149247 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 19  DL TP > 1 Mbps (%)                        149247 non-null  float64
 20  UL TP < 10 Kbps (%)                       149209 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 23  UL TP > 300 Kbps (%)                      149209 non-null  float64
 24  HTTP DL (Bytes)                           68527 non-null   float64
 25  HTTP UL (Bytes)                           68191 non-null   float64
 26  Activity Duration DL (ms)                 150000 non-null  float64
 27  Activity Duration UL (ms)                 150000 non-null  float64
 28  Dur. (ms).1                               150000 non-null  float64
 29  Handset Manufacturer                      149429 non-null  object
 30  Handset Type                              149429 non-null  object
 31  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 37  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 38  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150000 non-null  float64
 54  Total DL (Bytes)                          150000 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB

In [6]:
# Check duplicated in the table
sum(df.duplicated())

0

In [7]:
df.dtypes

Bearer Id                                   float64
Start                                        object
Start ms                                    float64
End                                          object
End ms                                      float64
Dur. (ms)                                   float64
IMSI                                        float64
MSISDN/Number                               float64
IMEI                                        float64
Last Location Name                           object
Avg RTT DL (ms)                             float64
Avg RTT UL (ms)                             float64
Avg Bearer TP DL (kbps)                     float64
Avg Bearer TP UL (kbps)                     float64
TCP DL Retrans. Vol (Bytes)                 float64
TCP UL Retrans. Vol (Bytes)                 float64
DL TP < 50 Kbps (%)                         float64
50 Kbps < DL TP < 250 Kbps (%)              float64
250 Kbps < DL TP < 1 Mbps (%)               float64
DL TP > 1 Mbps (%)                          float64
UL TP < 10 Kbps (%)                         float64
10 Kbps < UL TP < 50 Kbps (%)               float64
50 Kbps < UL TP < 300 Kbps (%)              float64
UL TP > 300 Kbps (%)                        float64
HTTP DL (Bytes)                             float64
HTTP UL (Bytes)                             float64
Activity Duration DL (ms)                   float64
Activity Duration UL (ms)                   float64
Dur. (ms).1                                 float64
Handset Manufacturer                         object
Handset Type                                 object
Nb of sec with 125000B < Vol DL             float64
Nb of sec with 1250B < Vol UL < 6250B       float64
Nb of sec with 31250B < Vol DL < 125000B    float64
Nb of sec with 37500B < Vol UL              float64
Nb of sec with 6250B < Vol DL < 31250B      float64
Nb of sec with 6250B < Vol UL < 37500B      float64
Nb of sec with Vol DL < 6250B               float64
Nb of sec with Vol UL < 1250B               float64
Social Media DL (Bytes)                     float64
Social Media UL (Bytes)                     float64
Google DL (Bytes)                           float64
Google UL (Bytes)                           float64
Email DL (Bytes)                            float64
Email UL (Bytes)                            float64
Youtube DL (Bytes)                          float64
Youtube UL (Bytes)                          float64
Netflix DL (Bytes)                          float64
Netflix UL (Bytes)                          float64
Gaming DL (Bytes)                           float64
Gaming UL (Bytes)                           float64
Other DL (Bytes)                            float64
Other UL (Bytes)                            float64
Total UL (Bytes)                            float64
Total DL (Bytes)                            float64
dtype: object

In [8]:
df['Handset Manufacturer']

0           Samsung
1           Samsung
2           Samsung
3         undefined
4           Samsung
            ...
149996        Apple
149997        Apple
149998        Apple
149999       Huawei
150000         None
Name: Handset Manufacturer, Length: 150001, dtype: object

In [9]:
df['Handset Manufacturer'].shape

(150001,)

In [10]:
df['Handset Manufacturer'].nunique()

170

In [11]:
df['Handset Type']

0          Samsung Galaxy A5 Sm-A520F
1         Samsung Galaxy J5 (Sm-J530)
2            Samsung Galaxy A8 (2018)
3                           undefined
4                    Samsung Sm-G390F
                     ...
149996    Apple iPhone 8 Plus (A1897)
149997        Apple iPhone Se (A1723)
149998        Apple iPhone Xs (A2097)
149999                 Huawei Fig-Lx1
150000                           None
Name: Handset Type, Length: 150001, dtype: object

In [12]:
other = df[df['Handset Type']=='undefined']
other

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
5,1.311448e+19,4/12/2019 21:37,439.0,4/25/2019 8:08,553.0,1074638.0,2.082014e+14,3.366819e+10,3.529841e+13,T89132C,...,21332918.0,2611113.0,7345361.0,6536448.0,710293538.0,13167974.0,654978277.0,4436057.0,30307754.0,754452212.0
7,1.304243e+19,4/14/2019 2:11,592.0,4/25/2019 2:26,512.0,951292.0,2.082010e+14,3.376349e+10,8.654640e+13,CELL_208_20_520025_1,...,12189786.0,19735183.0,6858496.0,12075206.0,748906189.0,16149622.0,537601820.0,7714657.0,58813016.0,775350343.0
10,7.277826e+18,4/15/2019 10:30,90.0,4/25/2019 6:14,775.0,848637.0,2.082098e+14,3.366565e+10,3.534681e+13,T29911A,...,2595678.0,19385457.0,16973815.0,9805785.0,565283082.0,9640759.0,95716749.0,14831312.0,56559490.0,594967693.0
44,1.311448e+19,4/19/2019 13:39,494.0,4/25/2019 17:19,735.0,531596.0,2.082010e+14,3.365079e+10,3.558661e+13,9.16456701128372E+015,...,4603491.0,8419198.0,15967027.0,1813522.0,505264738.0,11079905.0,202787389.0,7532574.0,32607621.0,535836072.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149952,1.311448e+19,4/29/2019 7:28,76.0,4/30/2019 10:39,950.0,97868.0,2.082015e+14,3.363552e+10,3.536981e+13,T29884C,...,12653547.0,6570553.0,17742755.0,4143342.0,332835316.0,1548721.0,83156272.0,5407129.0,18725214.0,369483128.0
149968,1.304243e+19,4/29/2019 7:28,131.0,4/30/2019 7:08,257.0,85215.0,2.082014e+14,3.365069e+10,3.536981e+13,L53329B,...,5116849.0,21068795.0,22559018.0,15263948.0,657274584.0,3569715.0,66680072.0,3552410.0,44241775.0,694842183.0
149976,7.349883e+18,4/29/2019 7:28,635.0,4/30/2019 6:13,964.0,81876.0,2.082014e+14,3.366286e+10,3.536861e+13,D15331A,...,14804991.0,7782375.0,19172861.0,6155193.0,72116821.0,7489271.0,326334761.0,1100279.0,23169790.0,114508817.0
149981,7.349883e+18,4/29/2019 7:28,911.0,4/30/2019 6:45,575.0,83844.0,2.082018e+14,3.362060e+10,3.529841e+13,D77149B,...,1719390.0,11147197.0,5926085.0,21882012.0,612414824.0,8253178.0,271066613.0,5977100.0,49475949.0,635002838.0
149995,1.304243e+19,4/29/2019 7:28,615.0,4/30/2019 0:01,407.0,59587.0,2.082014e+14,3.366865e+10,3.533251e+13,T85721A,...,6550499.0,18003146.0,22468983.0,7149728.0,784435351.0,12724751.0,321383162.0,14890486.0,53745392.0,819016468.0

In [13]:
df['Handset Type'].shape

(150001,)

In [14]:
df['Handset Type'].unique()

array(['Samsung Galaxy A5 Sm-A520F', 'Samsung Galaxy J5 (Sm-J530)',
       'Samsung Galaxy A8 (2018)', ..., 'Asustek Asus Zb500Kg',
       'Huawei Mediapad T5 10 Pro',
       'Shenzhen Jeko Co. Blackview Bv5800 Pro'], dtype=object)

In [15]:
df['Handset Type'].nunique()

1396

In [16]:

df[['Handset Manufacturer','Handset Type']].head()

  Handset Manufacturer                 Handset Type
0              Samsung   Samsung Galaxy A5 Sm-A520F
1              Samsung  Samsung Galaxy J5 (Sm-J530)
2              Samsung     Samsung Galaxy A8 (2018)
3            undefined                    undefined
4              Samsung             Samsung Sm-G390F

In [17]:
sum(df.duplicated())

0

In [18]:
x = df.groupby('Handset Type')['MSISDN/Number'].mean().sort_values(ascending=True)

In [19]:
x.head()

Handset Type
Huawei Maimang 6                                 3.360198e+10
Tct Mobile Suzho. Alcatel Onetouch Pop S7        3.360239e+10
Samsung Galaxy J7 Prime (On7) Duos (Sm-G6100)    3.360302e+10
Samsung Gt-S5280                                 3.360312e+10
Lenovo Moto G (5Th Gen) Da12936945               3.360335e+10
Name: MSISDN/Number, dtype: float64

In [20]:
result = df.groupby('Handset Type')['MSISDN/Number'].count().sort_values(ascending=False)
result.head(10)

Handset Type
Huawei B528S-23A                19727
Apple iPhone 6S (A1688)          9413
Apple iPhone 6 (A1586)           9012
undefined                        8931
Apple iPhone 7 (A1778)           6304
Apple iPhone Se (A1723)          5176
Apple iPhone 8 (A1905)           4985
Apple iPhone Xr (A2105)          4562
Samsung Galaxy S8 (Sm-G950F)     4480
Apple iPhone X (A1901)           3810
Name: MSISDN/Number, dtype: int64